<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-autowire="byName">

    <!--全注解的方式配置事务-->

    <bean id="crmDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url">
            <value><![CDATA[${crm.db.url}]]></value>
        </property>
        <property name="username" value="${crm.db.username}"/>
        <property name="password" value="${crm.db.password}"/>
        <property name="initialSize" value="${crm.db.initialSize}"/>
        <property name="minIdle" value="${crm.db.minIdle}"/>
        <property name="maxIdle" value="${crm.db.maxIdle}"/>
        <property name="maxActive" value="${crm.db.maxActive}"/>
        <property name="validationQuery" value="select 1"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="60"/>
        <property name="logAbandoned" value="true"/>
        <property name="connectionProperties"
                  value="useUnicode=true;characterEncoding=utf8;connectTimeout=5000;socketTimeout=60000;autoReconnect=true;failOverReadOnly=false"/>
    </bean>

    <!-- 事物-->
    <bean id="crmTXManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="crmDataSource"/>
    </bean>








</beans>