<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jade.xnDataSourceFactory" class="com.niux.jade.datasource.NmDataSourceFactory">
        <property name="testCatalogs">
            <map>
                <entry key="nuomi_niux" value="nuomi_niux_test"/>
                <entry key="nuomi_niux_stat" value="nuomi_niux_stat_test"/>
                <entry key="nuomi_event" value="nuomi_event_test"/>
                <entry key="nuomi_page" value="nuomi_page_test"/>
                <entry key="nuomi_pay" value="nuomi_pay_test"/>
                <entry key="nuomi_recommend" value="nuomi_recommend_test"/>
                <entry key="nuomi_niux_mobile" value="nuomi_niux_test"/>
                <entry key="nuomi_code" value="nuomi_code_test"/>
                <entry key="nuomi_code_a" value="nuomi_code_a_test"/>
                <entry key="nuomi_code_b" value="nuomi_code_b_test"/>
                <entry key="nuomi_user" value="nuomi_niux_test"/>
                <entry key="nuomi_niux_ro" value="nuomi_niux_test"/>
                <entry key="nuomi_niux_report" value="nuomi_niux_report_test"/>
            </map>
        </property>
        <property name="liveCatalogs">
            <map>
                <entry key="nuomi_niux_stat" value="nuomi_niux_ro"/>
            </map>
        </property>
        <property name="catalogReadConnectionFactors">
            <map>
                <entry key="nuomi_niux" value="0.0"/>
                <entry key="nuomi_niux_stat" value="1.0"/>
                <entry key="nuomi_pay" value="0.0"/>
                <entry key="nuomi_niux_report_read" value="1.0"/>
            </map>
        </property>
    </bean>

    <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory">
            <bean class="com.niux.utils.message.NiuxConnectionFactory">
                <!-- activemq.nuomi.com是伪域名，占位用，具体由Bean控制 -->
                <property name="brokerURL" value="tcp://activemq.nuomi.com"/>
            </bean>
        </property>
        <property name="maxConnections" value="10"/>
        <property name="maximumActive" value="500"/>
        <property name="idleTimeout" value="60000"/>
        <!-- 1 min -->
    </bean>

    <bean id="messageConverter" class="com.niux.utils.message.ScheduledMessageConverter">
        <property name="messageConverter">
            <bean class="com.niux.utils.message.BetterSerializableMapMessageConverter"/>
        </property>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageConverter" ref="messageConverter"/>
    </bean>

    <bean id="jmsQueue" class="com.niux.utils.message.JmsQueue">
        <property name="workers" value="10"/>
    </bean>


    <!--推送支付宝糯米券-->
    <bean class="com.niux.utils.message.Queue" id="queue.certificate.notifywap.statuschange"/>

    <bean id="billService" class="com.niux.mywork.service.BillServiceImpl"/>

    <bean id="pushService" class="com.niux.mywork.service.PushServiceImpl"/>


    <bean id="aLipayJob" class="com.niux.mywork.task.ALipayJob"/>


</beans>
